html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

/* header styling*/
#header {
  position: fixed;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 45px;
  top: 0;
  opacity: 1;
  -webkit-app-region: drag;
  z-index: 999;
}

#optionWrapper {
  position: absolute;
  right: 0;
  -webkit-app-region: no-drag;
  width: 75px;
  height: 35px;
  z-index: 999;
}

.option {
  padding-top: 5px;
  position: absolute;
  cursor: pointer;
  user-select: none;
  color: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity .25s;
}

#optionWrapper:hover .option {
  opacity: 0.6;
  transition: opacity .25s;
}

.option:hover {
  opacity: 0.95 !important;
}

#exit {
  padding-right: 10px;
  font-size: 20px;
  right: 0;
  top: 0;
}

#minimize {
  padding-top: 13px;
  padding-right: 12px;
  font-size: 10px;
  right: 60px;
  top: 0;
}

#maximize {
  padding-top: 7px;
  padding-right: 10px;
  font-size: 15px;
  right: 30px;
  top: 0;
}

/* main Menu*/
.section {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#begin {
  background: #0f6dab;
  background: linear-gradient(-45deg, #eedf52, #e73c7e, #23a6d5, #23d549);
  background-size: 500% 100%;
  animation: gradient 15s ease infinite;
}

#gradi {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(69, 48, 89, 0) 0%, rgba(98, 157, 179, 1) 100%);
}

#loading {
  background: rgb(163, 191, 221);
  background: linear-gradient(0deg, rgba(147, 173, 201, 1) 0%, rgba(98, 157, 179, 1) 100%);
}

#loadingsign {
  opacity: 0;
}

#menu {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 65%, rgba(147, 173, 201, 1) 99%);
}

#menuTitle {
  font-size: calc(36px + 2.5vw);
  text-align: center;
  color: white;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  padding-top: 5vh;
  user-select: none;
}

.maintitle {
  font-size: calc(36px + 1.2vw);
  text-align: center;
  color: white;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  user-select: none;
}

.suppText {
  font-size: calc(22px + .7vw);
  text-align: center;
  color: white;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  user-select: none;
}

.menuOption {
  font-size: calc(36px + 1.2vw);
  text-align: center;
  color: black;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  user-select: none;
  background: -webkit-linear-gradient(45deg, #23a6d5, #23d549, #eedf52, #e73c7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% 100%;
  cursor: pointer;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.menuOption:hover {
  animation: gradient 8s ease infinite;
}

.menuHover {
  font-size: calc(18px + 0.5vw);
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: black;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease-out;
  padding-top: 10px;
}

.menuOption:hover .menuHover {
  height: max(15vh, 13vw) !important;
  display: block !important;
}

.menu-years {
  font-size: calc(18px + 0.5vw);
  padding-top: 15px;
  padding-bottom: 5px;
  padding-right: 6px;
  padding-left: 6px;
  display: inline-block;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 1em;
  border: 2px;
  position: relative;
}

.menu-years:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: linear-gradient(45deg, #eedf52, #e73c7e, #23a6d5, #23d549);
  background-size: 500% 100%;
  animation: gradient 8s ease infinite;
  height: 2px;
  transition: all .2s ease-out;
}

.menu-years:hover:before {
  left: 5%;
  right: 5%;
}

#loadAlert {
  opacity: 0;
}

#loadbutton {
  margin-top: 100px;
}

.button {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
  border: none;
  color: #222;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Muli', sans-serif;
  text-decoration: none !important;
  display: block;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-radius: 30px;
  user-select: none;
  transition: background-color 1s ease;
}

.button:hover {
  background-color: #fff;
  transition: background-color .4s ease;
}

.button:focus {
  outline: none;
}

.to-animate {
  opacity: 0;
}

/* animations */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.fade-in-top {
  animation: fade-in-top 0.8s ease-in-out .5s both;
}

.fade-in-bottom {
  animation: fade-in-bottom 0.8s ease-in-out .5s both;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-out-center {
  -webkit-animation: scale-out-center 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: scale-out-center 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.tracking-out-contract {
  -webkit-animation: tracking-out-contract 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: tracking-out-contract 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.shake-bottom {
  -webkit-animation: shake-bottom 0.5s ease-in-out both;
  animation: shake-bottom 0.5s ease-in-out both;
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}

@keyframes shake-bottom {

  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }

  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }

  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }

  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

/* loading animation */
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  top: 60%;
  left: 60%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
