#messages::-webkit-scrollbar {
  width: 6px;
  background: #FFF;
  border-radius: 0px 6px 6px 0px;
}

#messages:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

#messages::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  border-radius: 4px;
}

#messages::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

/* header styling*/
#header {
  position: fixed;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 45px;
  top: 0;
  opacity: 1;
  -webkit-app-region: drag;
  z-index: 999;
}

#optionWrapper {
  position: absolute;
  right: 0;
  -webkit-app-region: no-drag;
  width: 75px;
  height: 35px;
  z-index: 999;
}

.option {
  padding-top: 5px;
  position: absolute;
  cursor: pointer;
  user-select: none;
  color: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity .25s;
}

#optionWrapper:hover .option {
  opacity: 0.6;
  transition: opacity .25s;
}

.option:hover {
  opacity: 0.9 !important;
}

#exit {
  padding-right: 10px;
  font-size: 20px;
  right: 0;
  top: 0;
}

#minimize {
  padding-top: 13px;
  padding-right: 12px;
  font-size: 10px;
  right: 60px;
  top: 0;
}

#maximize {
  padding-top: 7px;
  padding-right: 10px;
  font-size: 15px;
  right: 30px;
  top: 0;
}

/* section control styling */
#year-review {
  display: inline;
}

#control {
  position: fixed;
  width: 1vh;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  z-index: 6;
  transition: opacity 1s ease-in-out;
  user-select: none;
}

.arrow {
  border: solid white;
  border-width: 0 4px 4px 0;
  opacity: 0.1;
  display: inline-block;
  padding: 1vh;
  cursor: pointer;
  transition: opacity 0.5s;
  user-select: none;
}

.arrow:hover {
  opacity: 0.8;
  transition: opacity 0.25s;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* sections and content styling */
.section {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#begin {
  background: #0f6dab;
  background: linear-gradient(#0f81ab, #230680);
}

#loading {
  background: rgb(35, 6, 128);
  background: linear-gradient(0deg, rgba(35, 6, 128, 1) 0%, rgba(19, 8, 70, 1) 18%, rgba(8, 2, 52, 1) 50%, rgba(19, 8, 70, 1) 82%, rgba(35, 6, 128, 1) 100%);
}

#loadingsign {
  opacity: 0;
}

#sec1 {
  background: #230680;
  background: linear-gradient(#230680, #7e0680);
}

#sec2 {
  background: #7e0680;
  background: linear-gradient(#7e0680, #800629);
}

#sec3 {
  background: #800629;
  background: linear-gradient(#800629, #94600c);
}

#sec4 {
  background: #94600c;
  background: linear-gradient(#94600c, #bed400);
}

#sec5 {
  background: #bed400;
  background: linear-gradient(#bed400, #54940c);
}

#sec6 {
  background: #54940c;
  background: linear-gradient(#54940c, #1dc79d);
}

#sec7 {
  background: #1dc79d;
  background: linear-gradient(#1dc79d, #00c3cf);
}

#sec8 {
  background: #00c3cf;
  background: linear-gradient(#00c3cf, #007de0);
}

#sec9 {
  background: #007de0;
  background: linear-gradient(#007de0, #e0009f);
}

#sec10 {
  background: #e0009f;
  background: linear-gradient(#e0009f, #e0de00);
}

#sec11 {
  background: #e0de00;
  background: linear-gradient(#e0de00, #4fdb82);
}

#sec12 {
  background: #8ae000;
  background: linear-gradient(#4fdb82, #5f94c9);
}

.maintitle {
  font-size: calc(36px + 1.2vw);
  text-align: center;
  color: white;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  user-select: none;
}

.suppText {
  font-size: calc(22px + .7vw);
  text-align: center;
  color: white;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  user-select: none;
}

.bigChart {
  position: relative;
  top: 8vh;
  left: 17vw;
  width: 66vw;
}

.odometer {
  position: relative;
  top: -4px;
}

#loadbutton {
  margin-top: 100px;
}

#convoButton {
  margin-top: 50px;
}

#dashButton {
  margin-top: 100px;
  background-color: #00918f;
}

#dashButton:hover {
  background-color: #1fa3a1;
}

.button {
  background-color: #0f6dab;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Muli', sans-serif;
  text-decoration: none !important;
  display: block;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-radius: 30px;
  user-select: none;
  transition: background-color 0.25s ease;
}

.button:hover {
  background-color: #1481c9;
}

#loadAlert {
  opacity: 0;
}

#begin:focus,
.section:focus,
.button:focus {
  outline: none;
}

#wordCloud span {
  user-select: none;
}

/* Conversation styles */
#messagesContainer {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  transition: background-color 0.5s ease-in-out;
}

#messages {
  position: absolute;
  top: 2vh;
  left: 25vw;
  height: 96vh;
  width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font: 16px/1.3 sans-serif;
  overflow: auto;
  padding: 0;
  border-radius: 6px;
  background: linear-gradient(rgb(255, 143, 178) 0%, rgb(167, 151, 255) 50%, rgb(0, 229, 255) 100%);
}

#messages:after {
  content: '';
  background: white;
  flex: 1;
  pointer-events: none;
}

#messages li {
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  border-style: solid;
  border-color: white;
  border-width: 2px 16px 2px 8px;
  flex: 0 0 auto;
}

#messages li a {
  color: #fff;
}

#messages li.mine {
  flex-direction: row;
  border-right-width: 8px;
  border-left-width: 16px;
}

#messages li:first-child {
  border-top-width: 10px;
}

#messages li:last-child {
  border-bottom-width: 10px;
}

#messages li:before {
  content: '';
  flex: 1;
  background: white;
  pointer-events: none;
}

#messages li span {
  background: #eee;
  padding: 8px 12px 8px 12px;
  position: relative;
  max-width: 45vw;
  overflow-wrap: break-word;
}

#messages li img {
  max-width: 30vw;
  border-radius: 1.5vw;
}

#messages li span:before {
  content: '';
  position: absolute;
  left: -8px;
  top: -8px;
  bottom: -8px;
  right: -8px;
  border: 8px solid white;
  border-radius: 25px;
  pointer-events: none;
}

#messages li img:before {
  content: '';
  position: absolute;
  left: -8px;
  top: -8px;
  bottom: -8px;
  right: -8px;
  border: 8px solid white;
  border-radius: 25px;
  pointer-events: none;
}

#messages li.mine span {
  background: none;
  color: white;
}

/* data dashboard */
#data-dashboard {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  overflow-y: overlay;
  overflow-x: hidden;
}

#dashboard-header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 120px;
  z-index: 6;
  background-color: #5f94c9;
  background: linear-gradient(180deg, rgba(95, 148, 201, 1) 0%, rgba(238, 238, 238, 1) 100%);
}

#data-dashboard::-webkit-scrollbar {
  width: 6px;
  background: linear-gradient(180deg, rgba(95, 148, 201, 1) 0%, rgba(238, 238, 238, 1) 100%);
  background-size: auto 120px;
  background-repeat: no-repeat;
}

#data-dashboard:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

#data-dashboard::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  border-radius: 4px;
}

#data-dashboard::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

#convoSearch {
  position: absolute;
  top: 50px;
  left: 50px;
  border-radius: 25px;
  height: 30px;
  border: none;
  width: 20vw;
  padding-left: 10px;
  font-family: 'Muli', sans-serif;
}

#convoSearch:focus,
#dateRange:focus {
  outline: none;
}

#convoSearchButton {
  position: absolute;
  top: 50px;
  left: calc(40vw + 110px);
  padding: 5px 23px;
  background-color: #65aaeb;
}

#convoSearchButton:hover {
  background-color: #3878b5;
}

#convoSearchButton img {
  position: relative;
  top: 2px;
}

#convoList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: scroll;
  top: 83px;
  max-height: 25vh;
  width: calc(20vw - 15px);
  position: fixed;
  left: 60px;
}

#convoList::-webkit-scrollbar {
  width: 0px;
  display: none;
}

#convoList li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f9f9f9;
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block;
  font-family: 'Muli', sans-serif;
}

#convoList li a:hover:not(.header) {
  background-color: #eee;
}

#convoList .dmTag {
  font-size: 10px;
  color: #999;
  font-family: 'Muli', sans-serif;
  position: absolute;
  right: 5px;
  transform: translateY(-30px);
}

#dateRange {
  position: absolute;
  top: 50px;
  left: calc(20vw + 80px);
  border-radius: 25px;
  height: 30px;
  border: none;
  width: 20vw;
  padding-left: 10px;
  font-family: 'Muli', sans-serif;
}

.daterangepicker .monthselect,
.daterangepicker .yearselect,
.daterangepicker .hourselect,
.daterangepicker .minuteselect,
.daterangepicker .ampmselect {
  border-radius: 5px;
}

.daterangepicker .monthselect:focus,
.daterangepicker .yearselect:focus,
.daterangepicker .hourselect:focus,
.daterangepicker .minuteselect:focus,
.daterangepicker .ampmselect:focus {
  outline: none;
}

.cancelBtn {
  background: #f0f0f0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 9px !important;
}

.cancelBtn:hover {
  background: #ccc;
}

.applyBtn {
  background: #3399ff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 9px !important;
  color: white;
}

.applyBtn:hover {
  background: #66ccff;
}

#dash-loading-back {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}

#dash-loading {
  background: white;
  position: fixed;
  font-size: 24px;
  top: 50%;
  left: 50%;
  min-width: 500px;
  padding: 30px;
  border-radius: 16px;
  font-family: 'Muli', sans-serif;
  transform: translate(-50%, -50%);
}

#dash-loading span {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  background-color: #eee;
  heigth: 400%;
  padding: 10px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  height: 12vw;
  border-radius: 1vw;
  font-family: 'Muli', sans-serif;
}

.item1 {
  grid-area: 1 / 1 / 3 / 3;
  height: calc(24vw + 50px) !important;
}

.item2 {
  grid-area: 1 / 3 / 3 / 5;
  height: calc(24vw + 50px) !important;
}

.item3 ol {
  list-style-type: none;
  text-align: left;
  font-size: 14px;
  padding-left: 15px;
}

.item3 ol li {
  margin-top: 3px;
}

.item5 {
  grid-area: 3 / 1 / 5 / 3;
  height: calc(24vw + 50px) !important;
}

.item6 {
  grid-area: 3 / 3 / 5 / 5;
  height: calc(24vw + 50px) !important;
}

.item7 {
  grid-area: 3 / 5 / 5 / 5;
  height: calc(24vw + 50px) !important;
}

.item8 {
  grid-area: 5 / 1 / 7 / 3;
  height: calc(24vw + 50px) !important;
}

.item9 {
  grid-area: 5 / 3 / 7 / 5;
  height: calc(24vw + 50px) !important;
}

.item10 {
  grid-area: 5 / 5 / 7 / 5;
  height: calc(24vw + 50px) !important;
}

.item11 {
  grid-area: 7 / 1 / 9 / 3;
  height: calc(24vw + 50px) !important;
}

.item12 {
  grid-area: 7 / 3 / 9 / 5;
  height: calc(24vw + 50px) !important;
}

.item13 {
  grid-area: 7 / 5 / 7 / 5;
}

.item14 {
  grid-area: 9 / 1 / 11 / 3;
  height: calc(24vw + 50px) !important;
}

.item15 {
  grid-area: 9 / 3 / 11 / 5;
  height: calc(24vw + 50px) !important;
}

.dashChart {
  width: calc(2*(100vw - 60px)/5);
  position: relative;
  margin-top: 50px;
  margin-right: 0px;
}

.smalldashChart {
  width: calc((100vw - 60px)/5 + 10px);
  position: relative;
  margin-top: 8px;
  margin-right: 0px;
}

.dashSelect {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  border-color: #eee;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
}

#msgTotal {
  color: #666;
}

#wordsList {
  overflow-y: auto;
  height: 90%;
  list-style-type: none;
  text-align: left;
  font-size: 16px;
}

#wordsList .count {
  color: #999;
  font-size: 10px;
  margin-left: 5px;
}

#participantList {
  overflow-y: auto;
  height: 70%;
  list-style-type: none;
  text-align: left;
  font-size: 16px;
}

#participantList .removed {
  color: #999;
  font-size: 10px;
}

#participantList::-webkit-scrollbar,
#wordsList::-webkit-scrollbar {
  width: 6px;
  background: #FFF;
  border-radius: 0px 6px 6px 0px;
}

#participantList:hover::-webkit-scrollbar-thumb,
#wordsList:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

#participantList::-webkit-scrollbar-thumb,
#wordsList::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  border-radius: 4px;
}

/* animations */
.to-animate {
  opacity: 0;
}

.fade-in-top {
  animation: fade-in-top 0.8s ease-in-out .5s both;
}

.fade-in-bottom {
  animation: fade-in-bottom 0.8s ease-in-out .5s both;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-out-center {
  -webkit-animation: scale-out-center 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: scale-out-center 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.tracking-out-contract {
  -webkit-animation: tracking-out-contract 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: tracking-out-contract 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.shake-bottom {
  -webkit-animation: shake-bottom 0.5s ease-in-out both;
  animation: shake-bottom 0.5s ease-in-out both;
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}

@keyframes shake-bottom {

  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }

  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }

  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }

  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

/* loading animation */
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  top: 60%;
  left: 60%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: #000000;
  font-size: 10px;
  margin: 0px auto 25px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
